@{
    ViewBag.Title = "Hakkında";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>CASE STUDY:</b><p>

<p>
    <b> Gereksinimler</b>
</p>
<p>
    ·          Bir ürün tablosu oluşturulmalı ve içerisine işleme alınacak kadar ürün eklenmelidir.
</p>
  <p>
    ·          İki adet yönetim uygulaması (Sipariş yönetimi ve Depo yönetimi) tasarlanmalıdır.
</p>
<p>
    <b> Uygulanacak Senaryo</b>
</p>    
<p><b>Sipariş Yönetimi </b></p>
<p>·          Sistemde tanımlı olan ürünlerden yeni siparişler tanımlanabilmelidir. </p>
<p> ·          Siparişler tek tek değil toplu(bulk) olarak depo yönetimine aktarılmalıdır. Daha önce aktarılmış siparişler tekrar aktarılmamalıdır.</p>
<p> ·          Tanımlı bir sipariş iptal edilebilmelidir. Eğer sipariş depoda işleme alınmış ise iptal edilememelidir ve uyarı mesajı verilmelidir.</p>
<p> ·          Sayfada sipariş tanımlama bölümü ve tanımlanan siparişlerin listesi olmalıdır. Aktarılmış siparişler listede farklı stilde gösterilmelidir. Listeden sipariş iptal edilebilir olmalıdır.</p>
<p>  <b>Depo Yönetimi</b> </p>
<p> ·          Aktarılmış olan siparişler işlenebilmeli ve başarılı bir şekilde sonlandırılabilmelidir.</p>
<p> ·          Sipariş iptali yapılabilmelidir. İptal edilen siparişin durumu sipariş yönetiminede yansımalıdır. İşlemde olan sipariş iptal edilememelidir.</p>   
<p>·          Sayfada siparişlerin listesi olmalı ve bu listeden siparişler işletilebilmeli, sonlandırılabilmeli ya da iptal edilebilmelidir. </p>
<p><b>Dikkat Edilmesi Gereken Konular</b> </p> 
<p> ·          Proje MVC uygulaması olarak geliştirilmelidir.</p> 
<p>·          Veri tabanı olarak SQL Server kullanılmalıdır. </p> 
<p> ·          Yazılım dili olarak C# kullanılmalıdır.</p> 
<p>·          Veri tabanı performansına ve yapılan işlemin doğruluğuna dikkat edilmelidir. </p>  
<p> ·          Proje hatasız derlenebilir (build) ve çalışabilir durumda olmalıdır.</p>  
<p> ·          Projede, projeye özel kod yazılması beklenmektedir.</p>   
<p> ·          Third party kütüphaneler ya da framework’ler kullanılabilir.</p>
    

