@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mayıs Sokak Dumankaya Adres Lobi<br />
    A1-150 Aydınlı/TUZLA<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>